@media only screen  and (min-width: 320px) and (max-width: 600px){
.navbar-header .navbar-toggle{
	    margin-top: 35px;
}
.navbar-header{
	width: 100%;
}
#bs-example-navbar-collapse-1{
	position: absolute;
    width: 100%;
    top: 105px;
    background-color: white;
    text-align: center;
    z-index: 9999;
    padding: 0px;
}
.navbar-nav {
    margin: 10px 0px;
}
.nav>li {
    border-bottom: 1px dotted #b3b3b3;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    height: 300px !important;
}
.banner-info-w3layouts {
    top: 0px !important;
}
.banner-info-w3layouts h3 {
    font-size: 20px !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0) !important;
    letter-spacing: .5px !important;
    font-weight: 600 !important;
}
.banner-info-w3layouts p {
    font-size: 12px !important;
    color: #fff;
    letter-spacing: .5px !important;
}
.ban-form input[type="text"], .ban-form input[type="submit"] {
    padding: 0em 1em !important;
    height: 40px !important;
}
.ban-form select#country12, .ban-form select#country13 {
    padding: 0em 1em !important;
    height: 40px !important;
}
.ban-form button.btn1 {
    padding: 0em 1em !important;
    height: 40px !important;
}
.agileabout {
    padding: 0px 0px !important;
}
.agileabout-grid-1 h1 {
    font-size: 30px !important;
}
.agileabout-grid-1 h4 {
    margin: 10px 0 30px !important;
    line-height: 22px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-align: justify !important;
}
.agileabout-grid-1 p {
    color: #777 !important;
    line-height: 25px !important;
    text-align: justify !important;
}
.blor {
    padding: 1em 0em 1em !important;
}
.w3ls-pricing.card {
    height: auto !important;
    margin-bottom: 50px !important;
}
.w3layoutsexplore-grid img {
    height: auto !important;
}
.w3layoutsexplore-grid-2 {
    padding: 15px !important;
}
.w3layoutsexplore-grid-2 ul li {
    padding: 5px 0px 0px 75px !important;
}
.w3layoutsexplore-grid-2 ul li p {
    text-align: justify !important;
}
.w3layoutsexplore-grid-2 h2 {
    font-size: 30px !important;
}
.w3lsdoaits-grid-1-text {
    padding: 15px !important;
}
.w3lsdoaits-grid-1-text h3.h3-1 {
    font-size: 30px !important;
}
.w3lsdoaits-grid-1-text h3.h3-2 {
    font-size: 25px !important;
        margin-top: 10px !important;
}
.w3lsdoaits-grid-1 h4 {
    padding: 10px 0px 0 0 !important;
    text-align: justify !important;
}
.w3lsdoaits-layer h5 {
    top: 30% !important;
}
.agitsworkw3ls-grid-1 {
    padding: 15px !important;
}
.agitsworkw3ls-grid-1 h3.h3-2 {
    font-size: 25px !important;
    margin-top: 0px !important;
}
.resp-tab-item span {
    font-size: 14px !important;
}
.resp-tab-content p {
    text-align: justify;
}
.agitsworkw3ls-grid-2 img {
    width: 100%;
    height: auto !important;
}
.cli_logo_hearder {
    margin-bottom: 30px !important;
    font-size: 30px !important;
}
.client-img {
    height: auto !important;
    margin-bottom: 50px !important;
}
.w3lfeedbackaits-grid-1 {
    width: 100% !important;
}
.w3lfeedbackaits-grid-1 img {
    width: 100%;
    height: auto !important; 
}
.w3lfeedbackaits-grid-2 {
    width: 100% !important;
    padding: 15px !important;
}
.w3lfeedbackaits h3.h3-1 {
    font-size: 30px !important;
}
.w3lfeedbackaits h3.h3-2 {
    font-size: 25px !important;
}
.w3lfeedbackaits-grid p {
    font-size: 16px !important;
    line-height: 25px !important;
}
.com-logo {
    position: absolute;
    right: 10px !important;
    top: -90px !important;
}
.com-logo img {
    width: 100px !important;
}
.agiilecontactw3layouts h3.h3-2 {
    font-size: 30px !important;
    margin-bottom: 30px !important;
    padding-left: 10px;
}
.agiilecontactw3layouts input.text, .agiilecontactw3layouts textarea {
    width: 100% !important;
}
.agiilecontactw3layouts input.text.email {
    margin-left: 0 !important;
}
.buttom-logo {
    width: 100% !important;
    margin-bottom: 30px !important;
}
.row-fluid {
    margin: 0px !important;
}
.footer-gsms{
width: 100% !important;
}

}

@media only screen  and (min-width: 601px) and (max-width: 767px){
.navbar-header .navbar-toggle{
	    margin-top: 35px;
}
.navbar-header{
	width: 100%;
}
#bs-example-navbar-collapse-1{
	position: absolute;
    width: 100%;
    top: 105px;
    background-color: white;
    text-align: center;
    z-index: 9999;
    padding: 0px;
}
.navbar-nav {
    margin: 10px 0px;
}
.nav>li {
    border-bottom: 1px dotted #b3b3b3;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    height: 300px !important;
}
.banner-info-w3layouts {
    top: 0px !important;
}
.banner-info-w3layouts h3 {
    font-size: 20px !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0) !important;
    letter-spacing: .5px !important;
    font-weight: 600 !important;
}
.banner-info-w3layouts p {
    font-size: 12px !important;
    color: #fff;
    letter-spacing: .5px !important;
}
.ban-form input[type="text"], .ban-form input[type="submit"] {
    padding: 0em 1em !important;
    height: 40px !important;
}
.ban-form select#country12, .ban-form select#country13 {
    padding: 0em 1em !important;
    height: 40px !important;
}
.ban-form button.btn1 {
    padding: 0em 1em !important;
    height: 40px !important;
}
.w3ls-pricing.card:hover, .w3ls-pricing.card.service-active {
    transform: scale(1) !important;
}
.client-img {
    height: auto !important;
    margin-bottom: 40px !important;
}
.w3lfeedbackaits-grid-1 {
    display: none;
}
.w3lfeedbackaits-grid-2 {
    width: 100% !important;
}
.buttom-logo {
    width: 50% !important;
}
}	
@media only screen  and (min-width: 768px) and (max-width: 1200px){
.logo {
    width: 60px !important;
}
.navbar-default .navbar-nav>li>a {
    font-size: 15px !important;
}
.navbar-nav>li>a {
    padding: 5px 10px !important;
}
.banner-info-w3layouts {
    top: 105px !important;
}
.agileabout-grid-1 p {
    text-align: justify !important;
}
.services-w3sec .agileabt-w3 .col-lg-4{
	width: 33.33% !important;
	float: left;
}
.w3ls-pricing.card {
    height: auto !important;
    text-align: justify !important;
}
.w3layoutsexplore-grid-2 {
    padding: 10px !important;
    padding-left: 10px !important;
}
.w3layoutsexplore-grid-2 h2 {
    font-size: 30px !important;
    margin-top: 10px !important;
    margin-bottom: 16px !important;
}
.w3layoutsexplore-grid-2 ul li {
    padding: 5px 0px 0px 85px !important;
}
.w3layoutsexplore-grid img {
    width: 100%;
    height: 495px !important;
}
.w3lsdoaits-grid-1-text {
    padding: 15px !important;
}
.w3lsdoaits-grid-1-text h3.h3-1 {
    font-size: 30px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.w3lsdoaits-grid-1-text h3.h3-2 {
    font-size: 29px !important;
    margin-top: 10px !important;
}
.w3lsdoaits-grid-1 h4 {
    padding: 10px 50px 0 0 !important;
}
.w3lsdoaits-grid-2-grid img {
    width: 100%;
    height: 210px !important;
}
.w3lsdoaits-grid-1-image img {
    height: 211px !important;
    width: 100%;
}
.w3lsdoaits-layer h5 {
    font-size: 20px !important;
}
.agitsworkw3ls-grid-1 {
    padding: 15px !important;
    height: 470px;
}
.agitsworkw3ls-grid-2 img {
    height: 470px !important;
}
.resp-tab-content {
    padding: 5px 0 !important;
}
.resp-tab-content p {
    padding: 0 5px !important;
    text-align: justify ;
}
.numscroller {
    font-size: 30px !important;
    margin-bottom: 0px !important;
}
.stats-info p {
    font-size: 14px !important;
}
.tabs {
    margin: 20px 0 0 0px !important;
}
.client-img {
    height: auto !important;
}
.w3lfeedbackaits-grid-2 {
    padding: 20px !important;
}
.w3lfeedbackaits h3.h3-1 {
    font-size: 30px !important;
}
.w3lfeedbackaits h3.h3-2 {
    font-size: 26px !important;
}
.w3lfeedbackaits-grid-1 img {
    height: 331px !important;
}    
.w3lfeedbackaits .questionm {
    top: 51px !important;
    left: 20px !important;
}
.footer-top .col-md-3{
	width: 25% !important;
}
.footer-top .footer-nav {
    margin-left: 0px !important;
}
#footer h4 {
    margin-left: 0px !important;
}
.agiilecontactw3layouts input.text, .agiilecontactw3layouts textarea {
    width: 100% !important;
}
.agiilecontactw3layouts input.text.email {
    margin-left: 0px !important;
}
}