/*.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}
*/

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.parent {
    overflow: hidden;
}

section {
    display: block;
}

.top-gap {
    margin-top: 105px;
    margin-bottom: 25px;
}

.navbar-default {
    background-color: #f8f8f8;
    /* border-color: #e7e7e7; */
    background: transparent;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    z-index: 1000;
}
.carousel-control {
    z-index: 999 !important;
}

/*nav.transparent.scroll {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07)
}*/

.navbar-brand {
    height: auto;
}

.navbar-header {
    flex: 1;
    height: 106px;
}

nav.navbar .container-fluid {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
}

div.panel-heading {
    background-color: #BB3D60;
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: 75px;
}


/*
.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #eee;
}*/

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #d3593b;
}

.navbar-default .navbar-nav>.open>a:focus {
    color: #000;
    background-color: rgba(209, 81, 81, 0.95)
}

.navbar-default .navbar-nav>.active>a {
    color: rgba(209, 81, 81, 0.95) !important;
    background-color: transparent;
}


/*carousel 1*/

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    height: 600px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

.home-action-button {
    /* background: #BB3D60 none repeat scroll 0 0; */
    background-color: transparent;
    opacity: 0.89;
    box-shadow: 0px 3px 6.79px 0.21px rgba(7, 7, 7, 0.8);
    border-radius: 10px;
    border-width: 0;
    border-color: rgb(204, 204, 204);
    border-width: 0.333px;
    /* color: rgb(0, 0, 0); */
    cursor: pointer;
    display: inline-block;
    font-family: Poor Richard;
    /* font-family: sans-serif; */
    font-weight: normal;
    line-height: 1.5em;
    padding: 6px 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.4s ease 0s;
    display: none;
}

.home-action-button a {
    font-size: 25px;
    font-family: "Poor Richard";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    box-shadow: none;
    text-shadow: none;

}

.text-slide-parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-slide-parent p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/*end of carousel 1*/

.whitetext {
    color: #E8E4E3;
}

.logo {
    height: auto;
    width: 95px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: larger;
    /*background-color: #BB3D60; */
}

a:hover,
a:focus {
    color: #d3593b;
    text-decoration: none;
}

.text-muted {
    color: #FFFFFF;
    background-color: #BB3D60;
    text-align: center;
}

h4 {
    font-weight: bold;
}

.panel-body {
    padding: 15px;
    text-align: left;
    background-color: #F4F4F4;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    float: none;
}

p.questionm {
    color: rgba(209, 81, 81, 0.95) !important;
    font-size: 300px;
    line-height: normal;
}

.whypro {
    border: 1px solid #d3593b;
    margin-bottom: 25px;
}

.panel-body {
    border: 1px solid #d3593b;
}

p.process-icon {
    line-height: normal;
    color: #FFFFFF;
    background-color: #BB3D60;
    text-align: center;
    font-size: 25px;
}

.buttom-logo {
    width: 174px;
    border-width: 0px;
    border: 0px;
}

.buttom-logo>img {
    max-width: 100%;
    height: auto;
    border: 0;
    margin-top: 10px;
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom;
}


/*to be revised*/

.cli_logo_hearder {
    margin-bottom: 60px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.client-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    max-width: 100%;
    height: 108px;
}

.client-img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}


/* ==========================================================================
   Footer
   ========================================================================== */

.row-fluid {
    width: 100%;
}


/* gsms-section*/

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #0e0e0e;
    color: #fff;
    /*background: url(../img/bg/footer-bg.jpg) 50% 50% #000 no-repeat;
    background-size: cover;*/
}

#footer h4 {
    font-size: 21px;
    color: #fff;
    font-weight: 100;
    font-stretch: condensed;
    margin-left: 25px;
}

ul.footer-nav {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 25px;
    margin-left: 25px;
}

#footer .contact ul {
    padding: 0 0 0 0px;
}

#footer a {
    color: #fff;
    margin-left: 5px;
}

.social-i {
    width: 82%;
    text-align: left;
    font-size: larger;
    margin-left: 25px;
}


/*
p.copy {
    font-size: 0.8em;
    padding: 2% 0.2% 0;
    letter-spacing: 1px;
    text-align: center;
}*/

.footer-sm a {
    padding-left: 25px;
}


/*end of gsms section*/

.footer-container-wrapper {}

.footer-container {}

.footer-background,
.footer-background a,
.footer-copyright a,
.footer-container-wrapper .more-links a,
.footer-container-wrapper .contact-us a,
.footer-container-wrapper .about-us a {
    color: #eaeaea;
    text-decoration: none;
}

.footer-background,
.footer-background a {
    background: #BB3D60;
    text-decoration: none;
}

.footer-container-wrapper
/*.more-links*/

a:hover,
.footer-container-wrapper .contact-us a:hover {
    color: #d3593b !important;
    text-decoration: none;
}

.footer-container-wrapper .more-links a {
    margin: 10px 0px;
    text-decoration: none;
}

.footer-container-wrapper .footer-copyright {
    background: #000000;
    color: #ccc;
    padding: 10px 0px;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0;
}

.footer-container-wrapper .social-icons .fa {
    font-size: 20px;
    padding-right: 5px;
}

.container-fluid:before {
    display: table;
    content: "";
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.buttom-logo {
    width: 174px;
    border-width: 0px;
    border: 0px;
}

.buttom-logo>img {
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom;
}


/* end of to be revised */


.agileabout {
    padding: 100px 0;
}
.agileabout-grid-1 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: left;
}
.agileabout-grid-1 h1 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.agileabout-grid-1 h4 {
    text-align: left;
    margin: 50px 0 30px;
    line-height: 25px;
    color: #555;
    font-weight: 100;
}
.agileabout-grid-1 p {
    color: #777;
    line-height: 30px;
}
.agileabout-grid-2 img {
    width: 100%;
}
/************/

.banner-info-w3layouts h3 {
    color: #fff;
    font-size: 3em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    letter-spacing: 1px;
    font-weight: 400;
}
.banner-info-w3layouts p {
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 4px;
}
form.ban-form {
    margin: 2em auto;
    width: 60%;
}
.banf {
    padding: 0 4px;
}
.ban-form input[type="text"], .ban-form input[type="submit"] {
    color: #777;
    background: #fff;
    outline: none;
    font-size: 0.91em;
    padding: 1em 1em;
    border: none;
    -webkit-appearance: none;
    display: inline-block;
    border-radius: 0px;
    letter-spacing: 1px;
        height: 50px;
}
.ban-form select#country12, .ban-form select#country13 {
    font-weight: normal;
    border: none;
    outline: none;
    color: #777;
    background: #fff;
    outline: none;
    font-size: 0.91em;
    padding: 1em 1em;
    border: none;
    letter-spacing: 1px;
    margin-right: 2px;
    height: 50px;
    border-radius: 0px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}
.ban-form button.btn1 {
    background: rgba(212, 56, 56, 0.95);
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    padding: 0.58em 1em;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
        height: 50px;
}
.ban-form button.btn1 i {
    margin-left: 1em;
}
.banner-info-w3layouts{
        position: absolute;
    width: 100%;
    top: 365px;
    z-index: 999;
}
.carousel-caption {
    right: 0;
    left: 0;
    padding-bottom: 30px;
    background-color: #0000004a;
    top: 0px;
    bottom: 0px;
}

section#services, #contact {
    background: url(../img/slide-1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
h3.stat-title {
    color: #fff;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000000;
}
.sec-title{
    color: #fff;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.w3ls-pricing.card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 2.25rem;
    position: relative;
    background: #88391dc7;
    height: 335px;

}
.agileabt-w3 .w3l-head{
    padding-bottom: 50px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.w3ls-pricing.card:hover, .w3ls-pricing.card.service-active {
    transform: scale(1.15);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    z-index: 1;
}
.w3ls-pricing .card-header {
    color: #000;
    background: transparent;
    padding-left: 0;
    border-bottom: none;
    text-transform: capitalize;
}
h4.serv-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #e45c2b;
}
.w3ls-pricing.card:hover p, .w3ls-pricing.service-active p {
    color: #000;
}

.card-title {
    margin-bottom: 3em;
    font-size: 14px;
    color: #fff;
}

a.price_link {
    color: #eee;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
    padding: 5px 14px;
    border-radius: 20px;
    font-size: 13px;
    background: #bb2d46;
}
.w3ls-pricing.card i {
    position: absolute;
    right: 40px;
    bottom: 23px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.32);
}
.w3ls-pricing.card:hover, .w3ls-pricing.card.service-active {
    transform: scale(1.15);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    z-index: 1;
}
.blor{
    background-color: #00000054;
    width: 100%;
    height: 100%;
    padding: 3em 0em 8em;
}
.w3layoutsexplore-grid {
    padding: 0;
}
.w3layoutsexplore-grid img {
    width: 100%;
    height: 591px;
}
.w3layoutsexplore-grid-2 {
    padding: 31px;
    padding-left: 100px;
    background-color: #BB3D60;
    background: linear-gradient(to bottom right, #313b48, #BB3D60);
}
.w3layoutsexplore-grid-2 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 30px;
    color: white;
}
.w3layoutsexplore-grid-2 h2 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.w3layoutsexplore-grid ul {
    margin: 0;
    padding: 0;
        list-style: none;
}
.w3layoutsexplore-grid-2 ul li.explore-1 {
    background: url(../images/explore-1.png) no-repeat 0px 20px;
}
.w3layoutsexplore-grid-2 ul li {
    padding: 5px 100px;
}
.w3layoutsexplore-grid-2 ul li h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
    color: #EEE;
}
.w3layoutsexplore-grid-2 ul li p {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    color: #eaeaea;
}
.w3layoutsexplore-grid-2 ul li.explore-2 {
    background: url(../images/explore-2.png) no-repeat 0px 20px;
}
.w3layoutsexplore-grid-2 ul li.explore-3 {
    background: url(../images/explore-3.png) no-repeat 0px 20px;
}
.w3layoutsexplore-grid-2 ul li.explore-4 {
    background: url(../images/explore-4.png) no-repeat 0px 20px;
}
.w3lsdoaits-grid {
    padding: 0;
}
.w3lsdoaits-grid-1-text {
    padding: 45px;
}
.w3lsdoaits-grid-1-text h3.h3-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    margin-bottom: 9px;
}
.w3lsdoaits-grid-1-text h3.h3-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: left;
}
.w3lsdoaits-grid-1 h4 {
    text-align: left;
    line-height: 25px;
    color: #555;
    font-weight: 100;
    padding: 50px 50px 0 0;
}
.w3lsdoaits-grid-1-image {
    position: relative;
}
.w3lsdoaits-grid-1-image img {
    height: 416px;
    width: 100%;
}
.w3lsdoaits-layer {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.w3lsdoaits-layer h5 {
    font-size: 30px;
}
.w3lsdoaits-layer h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFF;
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    text-align: center;
}
.w3lsdoaits-grid {
    padding: 0;
}
.w3lsdoaits-grid-2-grid {
    padding: 0;
    position: relative;
}
.w3lsdoaits-grid-2-grid img {
    width: 100%;
}
.agitsworkw3ls-grid-1 {
    padding: 40px;
}
.agitsworkw3ls-grid-1 h3.h3-1 {
    margin-bottom: 10px;
}
.agitsworkw3ls-grid-1 h3.h3-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
}
.agitsworkw3ls-grid-1 h3.h3-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
}
.tabs {
    margin: 30px 0 13px;
}
.sap_tabs {
    clear: both;
}
.resp-tabs-list {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0 auto 5px;
    padding: 0px;
}
.resp-tab-active {
    text-shadow: none;
    background-color: #6e72bb;
    border-bottom: 1px solid #FFF;
}
.resp-tab-item {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 33.3%;
    float: left;
    padding: 10px 0;
    border-bottom: 1px ridge #777;
}
.resp-tab-active span {
    color: #FFF;
}
.resp-tab-item span {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.agitsworkw3ls-grid-1 {
    background: #BB3D60;
    background: -webkit-linear-gradient(left top, #363e4b, #242438);
    background: -o-linear-gradient(bottom right, #363e4b, #242438);
    background: -moz-linear-gradient(bottom right, #363e4b, #242438);
    background: linear-gradient(to bottom right, #313b48, #BB3D60);
    color: #EEE;
    padding: 50px;
}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}
.resp-tab-active {
    text-shadow: none;
    background-color: rgba(209, 81, 81, 0.95);
    border-bottom: 1px solid #FFF;
}
.resp-tab-content {
    padding: 10px 0;
}
.resp-tab-content {
    display: none;
    padding: 20px 0;
}
.resp-tab-content p {
    line-height: 25px;
    font-size: 13px;
    color: #dcdcdc;
    padding: 0 5px;
}
.stats-grid {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.numscroller {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
.stats-info p {
    font-size: 18px;
    color: #e6e6e6;
}
.agitsworkw3ls-grid-2 {
    padding: 0;
}
.agitsworkw3ls-grid-2 img {
    width: 100%;
    height: 542px;
}
.clientsbox{
    padding: 3em 0em;
}
.w3lfeedbackaits-grid-1 {
    width: 25%;
    float: left;
    padding: 0;
    position: relative;
}
.w3lfeedbackaits-grid-1 img {
    width: 100%;
    height: 390px;
}
.w3lfeedbackaits-grid-2 {
    width: 75%;
    float: left;
    padding: 70px;
    background-color: #30303c;
        background: linear-gradient(to bottom right, #313b48, #BB3D60);
}
.w3lfeedbackaits h3.h3-1 {
    margin-bottom: 20px;
}
.w3lfeedbackaits h3.h3-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    margin-bottom: 11px;
    color: #FFF;
}
.w3lfeedbackaits h3.h3-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 100;
    text-align: left;
    color: #FFF;
        margin-bottom: 33px;
}
.w3lfeedbackaits-grid p{
    color: #fff;
    font-size: 15px;
    text-align: justify;

}
.w3lfeedbackaits .questionm{
        position: absolute;
    top: 80px;
    z-index: 99;
    font-size: 200px;
    text-align: center;
    left: 90px;
}
.w3lfeedbackaits .questionm i{
   /* color: #fff;*/
}
/********contact-us*********/
.agiilecontactw3layouts {
    padding: 100px 0;
}
.agiilecontactw3layouts h3.h3-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
}
.agiilecontactw3layouts h3.h3-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 50px;
    padding-left: 10px;
}
.agiilecontactw3layouts input.text, .agiilecontactw3layouts textarea {
    width: 48%;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(209, 81, 81, 0.95);
}
.agiilecontactw3layouts input.text.email {
    margin-left: 17px;
}
.agiilecontactw3layouts textarea {
    width: 100%;
    margin: 30px 0 50px;
    height: 125px;
}
.agiilecontactw3layouts input.more_btn {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 1px solid rgba(209, 81, 81, 0.95);
}
.agiilew3layoutsconnect-social {
    margin-bottom: 19px;
}
.agiilew3layoutsconnect-social h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 20px;
}
.agiilew3layoutsconnect-social h3 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.agiilew3layoutsconnect-social ul li {
    display: inline-block;
}
.agiilew3layoutsconnect-social ul li a.facebook {
    background-position: -5px -65px;
}
.agiilew3layoutsconnect-social ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/img-sprite.png) no-repeat 0px 0px;
    opacity: 0.7;
}
.agiilew3layoutsconnect-social a:hover {
    opacity: 1;
}
.agiilew3layoutsconnect-social ul li a.twitter {
    background-position: -65px -65px;
}
.agiilew3layoutsconnect-social ul li a.googleplus {
    background-position: -125px -65px;
}
.agiilew3layoutsconnect-social ul li a.linkedin {
    background-position: -185px -65px;
}
.newsletter input[type="email"] {
    width: 100%;
    padding: 18px 0 10px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(209, 81, 81, 0.95);
    margin-bottom: 14px;
}
.newsletter input[type="submit"] {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 1px solid rgba(209, 81, 81, 0.95);
}
.newsletter input[type="submit"]:hover {
    background-color: rgba(209, 81, 81, 0.95);
    color: #FFF;
}
.agiilecontactw3layouts input.more_btn:hover {
    background-color: rgba(209, 81, 81, 0.95);
    color: #FFF;
}
.com-logo{
    position: absolute;
    right: 0px;
    top: 0px;
}
.com-logo img{
    width: 170px;
}
.footer-copyright{
