<!DOCTYPE html>
<?php
if (defined('RUNNING_FROM_ROOT')) {
  $this->plugin('basePath')->setBasePath($this->basePath().'/public');
}
else{
	$this->plugin('basePath')->setBasePath($this->basePath().'/public');
}?>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>UrbanNZ</title>

<!-- Bootstrap Core CSS -->
<link href="<?php echo $this->basePath('website/css/bootstrap.min.css');?>" rel="stylesheet">

<!-- Custom CSS -->
<link href="<?php echo $this->basePath('website/css/urbannz.css');?>" rel="stylesheet">

<!-- Custom Fonts -->
<link href="<?php echo $this->basePath('website/font-awesome/css/font-awesome.min.css');?>" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top"><img src="<?php echo $this->basePath('website/img/urbernz-logo.png');?>" class="img-responsive" alt="Image"></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"> <a href="#page-top"></a> </li>
        <li> <a class="page-scroll" href="index.html">Home</a> </li>
        <li> <a class="page-scroll" href="about-us.html">About Us</a> </li>
        <li> <a class="page-scroll" href="ride.html">Ride</a> </li>
        <li> <a class="page-scroll" href="partner.html">Partner</a> </li>
        <li> <a class="page-scroll" href="sign-in.html">Sign In</a> </li>
        <li> <a class="btn btn-info register" href="become-a-partner.html" role="button">Become A Partner</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

 <?php echo $this->content; ?>

<!-- footer Section -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-8">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <ul class="quicklinks">
            <li><a href="index.html">Home </a> </li>
            <li><a href="about-us.html">About Us </a> </li>
            <li><a href="#">Ride </a> </li>
            <li><a href="#">Partner </a> </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-6">
          <ul class="quicklinks">
            <li><a href="privacy.html">Privacy</a> </li>
            <li><a href="terms-and-conditions.html">Terms And Conditions</a> </li>
          </ul>
        </div>
        <div class="col-sm-12 col-lg-12">

          <span class="copyright">&copy;urbannz2016. All rights reserved. </span> 
        </div>
      </div>
      <div class="col-sm-4 col-lg-4 footer-rs">
        <div class="footer-brand page-scroll" >
         <ul class="quicklinks footer-btn">
            <li> <a class="footer-logo" href="index.html" title=""><img src="<?php echo $this->basePath('website/img/urbernz-logo.png');?>" class="img-responsive" alt="Image"></a> </li>
            <li><a class="btn btn-lg btn-default btn-ride" href="sign-up-to-ride.html" role="button">Sign Up To Ride</a> </li>
            <li><a class="btn btn-lg btn-default btn-register" href="become-a-partner.html" role="button">Become A PArtner</a> </li>
          </ul>
        </div> 
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a> </li>
          <li><a href="#"><i class="fa fa-instagram"></i></a> </li>
        </ul>
    </div>
  </div>
</footer>

<!-- jQuery --> 
<script src="<?php echo $this->basePath('website/js/jquery.js');?>"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="<?php echo $this->basePath('website/js/bootstrap.min.js');?>"></script> 

<!-- Plugin JavaScript --> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 
<script src="<?php echo $this->basePath('website/js/classie.js');?>"></script> 
<script src="<?php echo $this->basePath('website/js/cbpAnimatedHeader.js');?>"></script> 

<!-- Contact Form JavaScript --> 
<script src="<?php echo $this->basePath('website/js/jqBootstrapValidation.js');?>"></script> 
<script src="<?php echo $this->basePath('website/js/contact_me.js');?>"></script> 

<!-- Custom Theme JavaScript --> 
<script src="<?php echo $this->basePath('website/js/agency.js');?>"></script>
</body>
</html>
