<!-- <!DOCTYPE html> -->
<?php /* <?= $this->doctype() ?> --> */ ?>
<?php 
if(defined ('RUNNING_FROM_ROOT')){
//$this->plugin('basePath')->setBasePath($this->basePath(). '/public');
}
?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Professional Services')->setSeparator(' - ')->setAutoEscape(false) ?>
        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>
        <meta rel="icon" href="<?php echo $this->basePath('img/companylogo.png') ?>" />
        <!-- Le styles -->
        <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/social-buttons-3'))
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/responsive.css'))
            ->prependStylesheet($this->basePath('css/fontawesome-all.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ?>
        <!-- Scripts -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/script.js'))
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
        ?>
        
    </head>

    <body>
        <div class="parent">  <?php /* <div class="container"> */ ?>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div style=" text-align: right;background-color: #fff;display:none;">
            <?php if (isset($_SESSION['logedIn'])) {    ?>
                Welocome: " .$_SESSION['username']. "<a href='logout.php'>Log out </a>
            <?php } else {   ?>
                <form action="" method="post">
                    <input type="text" name="username1">
                    <input type="password" name="password1">
                    <input type="submit" value="Send">
                </form><a href="">Register </a>
            <?php }     ?>
        </div>
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class="logo" src="<?php echo $this->basePath('img/companylogo.png') ?>" alt="Company Logo"></a>
                </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

               
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <?php 
                //$this->navigation('Zend\Navigation\header_english')->menu()->escapeLabels(false);
                //$this->navigation('Zend\Navigation\header_english')->menu()->setUlClass('nav navbar-nav navbar-right'); 
                //echo $this->navigation('Zend\Navigation\header_english')->menu()->setPartial('partial/menu')->render();
                //echo "<br>";
                ?>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="<?php echo $this->url('home');?>">Home</a>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="">Overview</a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo $this->url('home');?>">Our Mission</a></li>
                                <li><a href="ourvision.php">Our Vision</a></li>
                                <li><a href="aboutus.php">About Us</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="<?php echo $this->url('home');?>">Our Services </a>
                            <ul class="dropdown-menu">
                                <li><a href="jobs.php">Jobs</a></li>
                                <li><a href="">HR and Training </a></li>
                                <li><a href="">Socail Insurance </a></li>
                                <li><a href="">Ministry of Labor and Imegration </a></li>
                                <li><a href="">Health Insurance</a></li>
                                <li><a href="">Legal</a></li>
                                <li><a href="">Accounting</a></li>
                                <li><a href="">OutSouring</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contactus.php">Contact us</a>
                        </li>
                        <li>
                            <a href="">Organizational  Structure</a>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown"><i class="fa fa-user"></i> Members Services </a>
                            <ul class="dropdown-menu">
                                <li><a href="register.php">Register</a></li>
                                <li><a href="login.php">Coprate Login</a></li>
                                <li><a href="" target="_blank">Individul Login</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>  <!-- added div -->    
    </nav>
            <?= $this->content ?>
            <!--start of footer section-->
            <section>
                <div class="row  footer-background">
                    <div class="footer-container-wrapper">
                        <div class="footer-container container-fluid">
                            <div id="footer" class="midnight-blue">
                                <div class="container">
                                    <div class="row row-fluid ">
                                        <div class="footer-top no-padding">
                                            <div class="col-md-3 col-sm-3 col-xs-12 buttom-logo">
                                                <img src="<?php echo $this->basePath('img/footer_logo.png') ?>" alt="">
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6 footer-gsms footer-gsms-col2">
                                                <h4 class="footer-l-t"> Services </h4>
                                                <ul class="footer-nav footer-l">
                                                    <li><i class="fa fa-caret-right" style=""></i><a href="hrandtraining.html">HR and Training </a></li>
                                                    <li><i class="fa fa-caret-right" style=""></i><a href="socailinsurance.html">Socail Insurance </a></li>
                                                    <li><i class="fa fa-caret-right" style=""></i><a href="ministryoflaborandimegration.html">Ministry </a></li>
                                                    <li><i class="fa fa-caret-right" style=""></i><a href="medicalinsurnce.html"> Health Insurance</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6 footer-gsms">
                                                <h4 class="footer-l-t">Overview</h4>
                                                <ul class="footer-nav footer-l">
                                                    <li><i class="fa fa-caret-right" style=" "></i><a href="ourmission.php">Our Mission</a></li>
                                                    <li><i class="fa fa-caret-right" style=" "></i><a href="ourvision.php">Our Vision</a></li>
                                                    <li><i class="fa fa-caret-right" style=" "></i><a href="aboutus.php">About Us</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 footer-gsms contact">
                                                <h4 class="footer-l-t">Contact</h4>
                                                <ul class="footer-nav footer-l footer-phone">
                                                    <li>
                                                        <p><i class="fa fa-phone" style=" "></i> 022-519-1926</p>
                                                    </li>
                                                </ul>
                                                <ul class="footer-nav footer-l footer-email">
                                                    <li>
                                                        <p><i class="fa fa-envelope" style=" "></i> <a href="mailto:info@proserv-eg.com">info@proserv-eg.com</a></p>
                                                    </li>
                                                </ul>
                                                <ul class="footer-nav footer-l footer-email">
                                                    <li>
                                                        <p><i class="fa fa-home" style=" "></i>&nbsp;20 El- Gazayeer St, New Maadi,Cairo, Egypt</p>
                                                    </li>
                                                </ul>
                                                <!--<div class="social-i">
                                                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square" style="font-size: undefined; color: undefined;"></i></a> <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                    <a href="https://linkedin.com/"><i class="fa fa-linkedin-square" style="font-size: undefined; color: undefined;"></i></a> <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                                    <a href="https://youtube.com/">
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end   footer top area  -->
                                <!-- stat  footer  bottom  area  -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end  of footer section-->
            <footer>
                <div class="section">
                    <div class="footer-container-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="footer-copyright">Copyright © Proserv-eg.com, All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>    
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
    <script>
        $('.dropdown').hover(
            function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
            },
            function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
            }
        );

        $('.dropdown-menu').hover(
            function() {
                $(this).stop(true, true);
            },
            function() {
                $(this).stop(true, true).delay(200).fadeOut();
            }
        );

        /* carousel 1*/
        $('#myCarousel').carousel();
        var winWidth = $(window).innerWidth();
        $(window).resize(function() {
            if ($(window).innerWidth() < winWidth) {
                $('.carousel-inner>.item>img').css({
                    'min-width': winWidth,
                    'width': winWidth
                });
            } else {
                winWidth = $(window).innerWidth();
                $('.carousel-inner>.item>img').css({
                    'min-width': '',
                    'width': ''
                });
            }
        });
        /* end  of carousel 1*/
    </script>

<!-- Horizontal-Tabs-JavaScript -->
    <script src="<?php echo $this->basePath('js/easyResponsiveTabs.js') ?>" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default',
                width: 'auto',
                fit: true,
            });
        });
    </script>
<!-- Horizontal-Tabs-JavaScript -->
</html>
